tmo/App_Data/wsdl/site.tianmiwo.com.80.SiteManage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tianmiwo.com/sitemanage" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tianmiwo.com/sitemanage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tianmiwo.com/sitemanage">
      <s:element name="CreateSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateSiteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSiteSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSite" />
  </wsdl:message>
  <wsdl:message name="CreateSiteSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSiteResponse" />
  </wsdl:message>
  <wsdl:portType name="SiteManageSoap">
    <wsdl:operation name="CreateSite">
      <wsdl:input message="tns:CreateSiteSoapIn" />
      <wsdl:output message="tns:CreateSiteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SiteManageSoap" type="tns:SiteManageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSite">
      <soap:operation soapAction="http://tianmiwo.com/sitemanage/CreateSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SiteManageSoap12" type="tns:SiteManageSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSite">
      <soap12:operation soapAction="http://tianmiwo.com/sitemanage/CreateSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SiteManage">
    <wsdl:port name="SiteManageSoap" binding="tns:SiteManageSoap">
      <soap:address location="http://site.tianmiwo.com/SiteManage.asmx" />
    </wsdl:port>
    <wsdl:port name="SiteManageSoap12" binding="tns:SiteManageSoap12">
      <soap12:address location="http://site.tianmiwo.com/SiteManage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>